APP_ENV=testing
APP_DEBUG=false
APP_KEY=SomeRandomString
APP_ID=DEFAULT
APP_URL='http://localhost/'

MAIN_EMAILPARSER_FALLBACK_MAIL=admin@isp.local

DB_DRIVER=mariadb
DB_HOST=localhost
DB_DATABASE=abuseio_test
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=database

MAIL_MAILER=smtp
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=false
MAIL_OVERRIDE=false

GDPR_ANONYMIZE_DOMAIN=abuseio.test
