# Ignore configuration files
/etc/mail.template
/etc/settings.conf

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp/*/*

# Ignore the message archive
/archive/*.eml

# Ignore custom modules
/lib/custom/find_customer.php

# Ignore htdocs protection
/htdocs/.htaccess
