language: php

branches:
  except:
    - AbuseIO-3.0

os:
  - linux

php:
  - 7.4.0

env:
  - DB=mysql
  
services:
  - mysql

before_script:
  - cp .env.travis .env
  - echo ${TRAVIS_PHP_VERSION:0:5}
  - echo 'yes' | pecl install mailparse;
  - mysql -e 'CREATE DATABASE `abuseio`;'
  - composer self-update
  - composer install --dev --prefer-source --no-interaction
  - chmod -R 770 storage
  - php artisan migrate:install --no-interaction -vvv
  - chmod +x extra/notifier-samples/runall
  

script:
  - php artisan migrate --env=testing --no-interaction -vvv
  - php artisan db:seed --env=testing --no-interaction -vvv
  - extra/notifier-samples/runall-noqueue
  - php artisan note:create 1 Abusedesk 'Test Note' true false
  - vendor/bin/phpunit
  - php artisan migrate:rollback --env=testing --no-interaction -vvv
  - wget -O bootstrap/app.php https://raw.githubusercontent.com/laravel/laravel/master/bootstrap/app.php
  - sed -i 's/App\\/AbuseIO\\/g' bootstrap/app.php

after_script:
  - ls -laR storage/mailarchive
  - cat storage/logs/*

notifications:
  email:
    - dev@abuse.io
  irc:
    channels:
      - "irc.freenode.net#abuseio"
    template:
      - "%{repository}#%{build_number} (%{branch} - %{commit}) %{author}: %{message} - %{build_url}"
  slack: abuseio:nSyRBPexhu9t3qOAqRoXgFnM
  on_failure: always
  skip_join: true
