/* Prevent overlapping of the top navbar */
body { padding-top: 70px; }

.header {
    padding: 10px 0px 10px 10px;
}

.header_wrapper {
    background-color: #ecedef;
}

.img-responsive {
    max-width: 250px;
}

.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

/* Helper classes for more vertical spacing */
.top-buffer { margin-top:20px; }
.dataTables_wrapper { margin-top:20px; }

/* Ticket details for row extensions */
td.details-control {
    font-family: 'Glyphicons Halflings';
    content: "\e237";
    cursor: pointer;
}
tr.shown td.details-control {
    font-family: 'Glyphicons Halflings';
    content: "\e238";
}
