/* Prevent overlapping of the top navbar */
body { padding-top: 70px; }

/* No the ASH page we want less padding on the top */
body.ash { padding-top: 20px; }

/* ASH Logo styles */
.img-responsive {
    max-width: 250px;
}

.img-inline {
    display: inline;
}

/* Give tab content panes a border */
.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

div .headers {
    position: relative;
    float: left;
    display: inline;
    margin-left: 10px;
    vertical-align: top;
}

div .media-body h2 {
    color: #8c8c8c;
}

/* Helper classes for more vertical spacing */
.top-buffer { margin-top:20px; }
.dataTables_wrapper { margin-top:20px; }

/* Show Note options when hovering a note */
.ticket-hover-group:hover .ticket-hover-toggle {
    visibility: visible;
    z-index: 11;
    position: relative;
}

/* Semi fade out hidden notes to the background */
.panel-hidden:after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
}

/* Disabled links */
.btn.disabled,
.dropdown-menu > .disabled{
 cursor: not-allowed;
}

.btn.disabled,
.dropdown-menu > .disabled > a{
 pointer-events: none;
}

/* This layours the 'progressing' text
while database changes, e.g. by pagination */
.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    margin-left: -125px;
    border: 2px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 20px;
    padding: 2px 0;
}

/* pretty printing code */
pre.prettyprint {
    border: 1px solid #ccc;
    margin-bottom: 0;
    padding: 9.5px;
}
