/*
 * Move down content because we have a fixed navbar that is 3.5rem tall
 */
body {
    padding-top: 3.5rem;
}

/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 3.5rem;
    bottom: 0;
    left: 0;
    padding: 2.5rem 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

.sidebar .nav {
    margin-bottom: 1.25rem
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item a {
    color: black;
    padding-left: 2rem;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/* AbuseIO blue */
.bg-abuseio {
    background-color: #2196f3 !important;
}

/* Disabled links, really disable */
.btn.disabled,
.dropdown-menu > .disabled{
    cursor: not-allowed;
}
.btn.disabled,
.dropdown-menu > .disabled > a{
    pointer-events: none;
}

/* Helper classes for more vertical spacing */
.top-buffer { margin-top: 1.25rem; }

.breadcrumb {
    background-color: transparent;
    padding-left: 0;
}

/* Customize information lists */
.dl-horizontal > dt {
    display: table-cell;
    vertical-align: middle;
    height: 3rem;
}
.dl-horizontal > dt,
.dl-horizontal > dd {
    vertical-align: middle;
}

/* Customize breadcrumbs */
.breadcrumb-item { font-size: 1.2rem; }
.breadcrumb-item+.breadcrumb-item:before { content: "\00bb\00a0"; }

/*
 * Customize the CopyToClipboard button
 * We don't want any space above or under the button.
 * The space messes up the horizontal alignment.
*/
#btnCopyToClipboard {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/*
 * Override the snackbar alignment.
 */
#snackbar-container {
    left: unset;
    right: 1.3rem !important;
}

/*
 * Fix issue where the carot is too big in the search form
 */
#search-form .dropdownjs::after {
    font-size: unset;
}

#user-search-form .dropdownjs::after {
    font-size: unset;
}

/*
 * Prevent material icons from making the navbar higher
 */
.material-icons {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

/* Center objects */
.col-centered {
    float: none;
    margin: 0 auto;
}

/* Verticle alignment helper */
.valign-center {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

.search_box .material-icons {
    color: rgba(255, 255, 255, 0.498) !important;
}
.search_box {
    width: 32px;
    transition-timing-function: ease-out;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.search_box.open {
    width: 200px;
}