/*
 * Move down content because we have a fixed navbar that is 3.5rem tall
 */
body {
    padding-top: 3.5rem;
    background-color: white;
}

/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 3.5rem;
    bottom: 0;
    left: 0;
    padding: 40px 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

.bg-abuseio {
    background-color: #2196f3;
}











.col-centered {
    float: none;
    margin: 0 auto;
}

/* Global add-ons */
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/* Disabled links, really disable */
.btn.disabled,
.dropdown-menu > .disabled{
    cursor: not-allowed;
}
.btn.disabled,
.dropdown-menu > .disabled > a{
    pointer-events: none;
}

/* Helper classes for more vertical spacing */
.top-buffer { margin-top: 20px; }

.breadcrumb {
    background-color: transparent;
    padding-left: 0;
}

/* Customize information lists */
.dl-horizontal > dt {
    display:table-cell;
    vertical-align:middle;
    height:3em;
}
.dl-horizontal > dt,
.dl-horizontal > dd {
    vertical-align:middle;
}

/* Customize breadcrumbs */
.breadcrumb li {font-size: 19px;}
.breadcrumb > li + li:before {content: "\00bb\00a0";}

/*
 * Customize the CopyToClipboard button
 * We don't want any space above or under the button.
 * The space messes up the horizontal alignment.
*/
#btnCopyToClipboard {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/*
 * Override the snackbar alignment.
 */
#snackbar-container {
    left: unset;
    right:20px !important;
}

.valign-center {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

/*
 * Fix issue where the carot is too big in the search form
 */
#search-form .dropdownjs::after {
    font-size: unset;
}

/*
 * Prevent material icons from making the navbar higher
 */
.material-icons {
    float: left;
    margin-top: -2px;
    margin-right: 5px;
}