[Unit]
Description=AbuseIO Queue Daemon for outgoing e-mail
Requires=mysql.service

[Service]
Type=simple
User=abuseio
Group=abuseio
WorkingDirectory=/opt/abuseio/
Restart=always
RestartSec=30
ExecStart=/usr/bin/php artisan queue:work --daemon --tries=1 --sleep=3 --memory=256 --delay=0 --queue=abuseio_email_outgoing

[Install]
WantedBy=multi-user.target
