[Unit]
Description=AbuseIO Queue Daemon for collectors
Requires=mysql.service

[Service]
Type=simple
User=abuseio
Group=abuseio
WorkingDirectory=/opt/abuseio/
Restart=always
RestartSec=30
ExecStart=/usr/bin/php artisan queue:work --daemon --tries=5 --sleep=3 --memory=256 --delay=30 --queue=abuseio_delegation

[Install]
WantedBy=multi-user.target
