Geachte relatie,

Voor een of meerdere IP adressen die in uw beheer zijn hebben
wij onderstaande <<COUNT>> abuse melding(en) ontvangen. Wij verzoeken u
deze melding(en) te onderzoeken en waar nodig actie te ondernemen.

Tevens ontvangen wij graag een terugkoppeling of- en welke acties er
ondernomen zijn zodat wij dit kunnen verwerken in onze administratie.

Onderaan deze e-mail vindt u tevens een korte toelichting op enkele
veelvoorkomende meldingen.

<<BOXES>>

Meldingen die wij hebben ontvangen met betrekking tot open SNMP,
NetBIOS, SSDP, Chargen en NTP-services duiden vaak niet op actief
misbruik maar dienen als preventieve waarschuwing voor een te
misbruiken service.

Genoemde services, eigenlijk alles wat via het UDP-protocol werkt,
worden veelvuldig gebruikt in zogenoemde amplification attacks.
De melding die u hierover ontvangt geeft niet per definitie aan dat u
hieraan deel heeft genomen maar dat u hier wel kwetsbaar voor bent. Wij
raden u dan ook aan dit op te lossen voordat u onbedoeld deel uit gaat
maken van een DDoS aanval.

U zult er tevens rekening mee moeten houden om bij bepaalde meldingen
ook terugkoppeling te moeten geven aan andere partijen, onder andere bij
DNS-blacklists en Google Search. Wanneer u dit niet doet is het mogelijk
dat u op de blacklist blijft staat of dat de melding blijft terugkomen
ondanks dat u het probleem reeds verholpen heeft.

De informatie in de meldingen, hierboven, is alle informatie die wij
hebben ontvangen (van derden, veelal clearinghouses). Het is derhalve
niet mogelijk om meer informatie te verstrekken of u in contact laten
komen met de originele melder.

Met vriendelijke groeten,

Afdeling Abuse.

