FALLBACK_MAIL = bounce@host.tld                 ; this is required to bounce incoming messages to a human for manual processing
TIME_ZONE = Europe/Amsterdam
KEEP_MAILS = true                               ; this will store all incoming mail in a file in APP/archive/ for future use (e.g. reseeding database)
KEEP_EVIDENCE = true                            ; this will store all incoming mail into a evidence table and links each related ticket
SQL_HOST = localhost
SQL_USER = abuseio
SQL_PASS = 
SQL_DBNAME = abuseio
NOTES = true                                    ; enable the ability for admins to add notes to reports
NOTES_DELETABLE = true                          ; enable the ability for admins to delete notes from reports (disabled by default)
NOTIFICATIONS = true                            ; enable this for AR3 to send out e-mails to customers where AutoNotify is enabled
NOTIFICATION_TEMPLATE = /etc/mail.template      ; set this to the APP relative path to use this email template (required for notification = true!)
NOTIFICATIONS_FROM_ADDRESS = name@host.tld      ; set here the senders email address
NOTIFICATIONS_FROM_NAME = ISP AbuseDesk         ; set here the senders name which could be more user readable
SELF_HELP_URL = http://sh.abuse.io/             ; enable this to insert urls in each e-mail which link to a specific FAQ to help them resolve this
CUSTOM_MODULES = find_customer                  ; define customer modules, comma separated value
SNDS_KEY =                                      ; specify key to be able to fetch reports from Microsoft SNDS (https://postmaster.live.com/snds/)
