FALLBACK_MAIL = bounce@host.tld                 ; this is required to bounce incoming messages to a human for manual processing
TIME_ZONE = Europe/Amsterdam
KEEP_MAILS = true                               ; this will store all incoming mail in a file in APP/archive/ for future use (e.g. reseeding database)
KEEP_EVIDENCE = true                            ; this will store all incoming mail into a evidence table and links each related ticket
SQL_HOST = localhost
SQL_USER = abuseio
SQL_PASS = 
SQL_DBNAME = abuseio
REPORT_MATCHING = 7 days                        ; period in which we consider a incoming report to be related to an existing report and will be combined
REPORT_CLOSING  = 10 days                       ; consider a report closed when no new incoming reports have arrived within this period
NOTES = true                                    ; enable the ability for admins to add notes to reports
NOTES_DELETABLE = true                          ; enable the ability for admins to delete notes from reports (disabled by default)
NOTIFICATIONS = true                            ; enable this for AR3 to send out e-mails to customers where AutoNotify is enabled
                                                ; Notification interfaces, used as x mounts, x days, or x hours, or x minutes
NOTIFICATIONS_INFO_INTERVAL = 90 days           ; Amount of days between INFO notifications, set to 0 for always directly notify
NOTIFICATIONS_ABUSE_INTERVAL = 0 minutes        ; Amount of days between ABUSE notifications, set to 0 for always directly notify
NOTIFICATIONS_MIN_LASTSEEN = 3 days             ; Amount of days that the abuse recently must have been seen in to notify for (or is considered out of date) 
NOTIFICATION_TEMPLATE = /etc/mail.template      ; set this to the APP relative path to use this email template (required for notification = true!)
NOTIFICATIONS_FROM_ADDRESS = name@host.tld      ; set here the senders email address
NOTIFICATIONS_FROM_NAME = ISP AbuseDesk         ; set here the senders name which could be more user readable
SELF_HELP_URL = http://sh.abuse.io/             ; enable this to insert urls in each e-mail which link to a specific FAQ to help them resolve this
#CUSTOM_MODULES = find_customer, notifier       ; define customer modules, comma separated value
RBL_SCANNER_DURATION = 3 days                   ; amount of days to scan for rbl listings after an existing report was issued for an IP address
SHADOWSERVER_IGNORE = ssl_scan                  ; define shadowserver reports to ignore, comma separated value

COLLECTOR_SNDS_ENABLED = false                  ; enable the Microsoft SNDS reports collector
COLLECTOR_SNDS_KEY = xxxxxxxxxxxxxxxxxxxxxxx    ; specify key to be able to fetch reports from Microsoft SNDS (https://postmaster.live.com/snds/)
COLLECTOR_OSINT_ENABLED = false                 ; enable the Bambenek reports collector
COLLECTOR_RBLSCAN_ENABLED = true                ; enable the scanning of RBL's of IP's that have been reported recently
