Your server has been compromised. It's hosting malware and 
is participating in a botnet. This issue needs to be resolved
as soon as possible by removing the malicious software.

Once the malicious software has been removed make sure the 
server can't be compromised again by installing the latest 
updates for your operating system, control panel and hosted 
applications, including themes and plugins (i.e. Wordpress).
