Email harvesting is the process of obtaining lists of email addresses 
using various methods for use in bulk email or other purposes usually
grouped as spam.

A common method is the use of special software known as "harvesting bots" 
or "harvesters", which spider web pages, mailing list archives, internet 
forums and other online sources to obtain email addresses from public data.

Another method addresses, known as a directory harvest attack, works 
by connecting to mailservers and guessing an email address using common 
usernames in email addresses at that domain.

If you are in fact harvesting email addresses, we recommend you to stop
doing that to prevent further escalation. If this is not the case, make 
sure your server and your hosted websites have not been compromised.
