A spam report indicates that your email has been flagged
by an automated system or by an end recipient as unsolicited 
email.

If you are sending bulk email, please ensure you follow
these bulk email rules to prevent your email from being 
flagged as spam:

- Your recipients have opted in for the service.
- Each email sent contains a working opt-out link. 

If the server should not be sending any email, this spam 
report could indicate that your server has been compromised.

If this is the case your server might be hosting malware and 
could be participating in a botnet. In that case, this issue 
needs to be resolved as soon as possible by removing the 
malicious software.

If malicious software exists and has been removed make sure 
the server can't be compromised again by installing the latest 
updates for your operating system, control panel and hosted 
applications, including themes and plugins (i.e. Wordpress).
